<div class="container uploaderbox text-center">
  <%= form_for(@itinerary) do |f| %>
  <% if @itinerary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@itinerary.errors.count, "error") %>
        prohibited this itinerary from being saved:</h2>

      <ul>
      <% @itinerary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title %>
  </div>
  <div class="field">

    <%= f.radio_button(:travel, :class => "check-box") %>
    <%= f.label(:travel, image_tag("walker.png", class:"travel-mode")) %>
    <%= f.radio_button(:travel, class:"check-box2") %>
    <%= f.label(:travel, image_tag("bicycle.png", class:"travel-mode2")) %>
    <%= f.radio_button(:travel, class:"check-box3") %>
    <%= f.label(:travel, image_tag("car.png", class:"travel-mode3")) %>
  </div>

  <div class="actions">
    <%= f.submit "Done", id: "view-map" %>
  </div>
<% end %>
</div>
