<h1>Itinerary</h1>
<!-- upload photos to the new instance of Itinerary -->


<% count = @itinerary.photos.count %>

<% if count < 10 %>
    <%= render '/photos/form' %>
  <% else %>
    <%= "Yo, to many pics, slow down!" %>
  <% end %>

<p><%= count %> of 10</p>

<%= link_to 'DONE', itinerary_path %>
<%= link_to 'Back', itineraries_path %>
