<p id="notice"><%= notice %></p>

<h1>Listing Itineraries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Phone</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Twitter</th>
      <th>Facebook</th>
      <th>Instagram</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @itineraries.each do |itinerary| %>
      <tr>
        <td><%= itinerary.title %></td>
        <td><%= itinerary.description %></td>
        <td><%= itinerary.phone %></td>
        <td><%= itinerary.address %></td>
        <td><%= itinerary.city %></td>
        <td><%= itinerary.state %></td>
        <td><%= itinerary.zip %></td>
        <td><%= itinerary.twitter %></td>
        <td><%= itinerary.facebook %></td>
        <td><%= itinerary.instagram %></td>
        <td><%= itinerary.user %></td>
        <td><%= link_to 'Show', itinerary %></td>
        <td><%= link_to 'Edit', edit_itinerary_path(itinerary) %></td>
        <td><%= link_to 'Destroy', itinerary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Itinerary', new_itinerary_path %>
