<p id="notice"><%= notice %></p>

<div class="container-fluid">
<!-- start navigation  -->
  <div class="row">
    <div class="col-sm-12 text-right">
      <button type="button" class="btn btn-primary btn-sm outline">
        <a href="#">Create a Trail</a></button>
    </div>
  </div>
<!--end naviagation -->
<!--start header -->
  <div class="row">
    <div class="col-sm-6">
      <%= image_tag 'pictraillogo.png', class:'logo' %>
    </div>
    <div class="col-sm-6"></div>
  </div>
  <div class="row tagline1">
    <div class="col-sm-12 text-center">
      <h1 class='tagline'>Follow a trail</h1>
    </div>
  </div>
  <div class="row tagline2">
    <div class="col-sm-12 text-center">
      <h3 class='tagline'>Look up!</h3>
    </div>
  </div>
</div>

<!-- Start gallery of images that represent trails -->
<div class="container-fluid">
  <% @itineraries.each do |itinerary| %>
    <%= link_to image_tag(itinerary.photos.first.picture_url(:thumb)), itinerary, class:'picpin' %>
  <% end %>
</div>
<!-- End photo gallery of images that represent trails -->

<!-- Navigation to previous trails and next trails -->
<div class="container text-center">
  <i class="fa fa-angle-double-left"></i>Previous Trails || More Trails<i class="fa fa-angle-double-right text-right"></i></p></div><br> #### Trails created since 2015
</div>
<!--end navigation -->



    <% @itineraries.each do |itinerary| %>
        <%= link_to image_tag(itinerary.photos.first.picture_url(:thumb)), itinerary %>
        <%= link_to 'Show', itinerary %></td>
        <%= link_to 'Edit', edit_itinerary_path(itinerary) %></td>
        <%= link_to 'Destroy', itinerary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>






<!-- This link will not be shown on public site  -->
<%= link_to 'New Itinerary', new_itinerary_path %>
