<!-- User profile information  -->
  <div class="container top">
      <div class="row">
        <%= image_tag 'userlogo.png', class:'userlogo' %>
    </div>
  </div>
<!-- End User Profile information -->

<!-- User greeting Message  -->
<div class="container">
  <div class="row text-center">
    <div class="greeting">
      <%= "Hi, #{@current_user.username} !"%>
    </div>
    <%= link_to 'Ready to blaze a new trail?', new_itinerary_path, class: "btn btn-createtrail" %>
  </div>
</div>


<div class="container text-center">
  <div class="container-fluid">
      <% @itineraries.each do |itinerary| %>
          <% if itinerary.photos.first.present? %>
            <%= link_to image_tag(itinerary.photos.first.picture_url(:thumb)), itinerary %>
            <%= link_to image_tag("garbagecan.png"), itinerary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      <% end %>
  </div>

  <%# @itineraries.each do |itinerary| %>
      <%# link_to image_tag(itinerary.photos.first.picture_url(:thumb)), itinerary %>
      <%# link_to 'Show', itinerary %>
      <%# link_to 'Edit', edittrail_path(itinerary) %>
      <%# link_to 'Destroy', itinerary, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%# end %>
</div>
