<div class="uploaderbox login">
  <h1 class="longinheadline" id="signup"><a href="#">Sign Up</a></h1>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row row_signup" id="signup_form">
      <%= f.text_field :username, class: 'field2', placeholder: :username %>
      <br>

      <%= f.text_field :email, class: 'field2', placeholder: :email%>
      <br>

      <%= f.password_field :password, class: 'field2', placeholder: :password %>
      <br>

      <%= f.password_field :password_confirmation, class: 'field2', placeholder: :password_confirmation %>
      <br>

      <%= f.submit "Signup" %>
      <% end %>
  </div>
</div>
