<div class="container text-center">
  <div class="row">
    <div class="uploaderbox login">
      <div class="row">
        <h1 class="longinheadline">Log in</h1>
      </div>
  <div class="row">
      <%= form_tag login_path do %>
      <%# form_tag sessions_path do %>
          <!-- <%= label_tag :username %> -->
          <%= text_field_tag :username, class: 'login_field'%><br>

          <%= password_field_tag :password, class: 'login_field' %>
  </div>
  <div class="row">
        <%= submit_tag 'Login'%>
      <% end %>
  </div>
  </div>

  <!-- <div class="row"> -->
      <%= render 'form' %>
      <!-- </div> -->
  </div>
</div>
