

<%= form_for([@itinerary, @itinerary.photos.new]) do |f| %>

<div class="container uploaderbox">

  <div class=" container text-center text-center ">
    <div class="fileinput fileinput-new" data-provides="fileinput">
      <%= f.file_field :picture, id: "fileInput", class:"fileinput-new", data: { capture:"camera", accept:"image/*" } %>
      <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 100px; height: 100px;">
      </div>
    </div>

    <%= f.hidden_field :latitude, :value => "", id: "latitude" %>
    <%= f.hidden_field :longitude, :value => "", id: "longitude" %>
</div>

<div>
    <%= f.button "ADD", class: "btn btn-success", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Uploading..."} %>
</div>
<% end %>
