

<%= form_for([@itinerary, @itinerary.photos.new]) do |f| %>

    <%= f.file_field :picture, id: "fileInput" %>

  </button>
    <%= f.hidden_field :latitude, :value => "", id: "latitude" %>
    <%= f.hidden_field :longitude, :value => "", id: "longitude" %>
  <div class="actions">
    <%= f.submit "ADD", :id => "plusIcon" %>
  </div>
  <%# puts @itinerary.photos %>

<% end %>
