<!DOCTYPE html>
<html>
<head>
  <title>PicPin {FAT Villiage}</title>

  <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!--Top bar with logo and City Scape-->
  <div class="container top">
      <%= image_tag 'cityscape.png', class:'cityscape' %><br>
      <%= image_tag 'picpoint_FAT.png', class:'logo' %>
    </div>
    <!--End top bar -->

  <!-- page content -->
  <%= yield %>
  <%= "I am #{@current_user.inspect}" %>
  <!--End page content -->

  <!--footer navigation begins-->
    <div class="container">
      <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div>
          <ul class="nav navbar-nav">
            <li><a href="#"><i class="push fa fa-angle-double-left"></i></a></li>
            <li><a href="#"><i class="push fa fa-home"></i></a></li>
            <li><a href="#"><i class="push fa fa-user"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>

  </body>
  </html>
