<!DOCTYPE html>
<html>
<head>
  <title>PicPin {FAT Villiage}</title>

  <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
  <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Rancho' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/itineraries.scss">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <!-- Top bar with logo and City Scape-->
  <div class="container top">
    <div class="row loginstatus">
      <% if current_user.present?  %>
      <%= "Logged in as #{@current_user.username}" %>
      <%= link_to 'Log Out', log_out_path, method: :delete %>
    <% else %>
      <%= link_to 'LogIn', login_path %>
    <% end %>
  </div>
    <div class="row">
      <%= image_tag 'cityscape.png', class:'cityscape' %><br>
      <%= image_tag 'piktrailogo.png', class:'logo' %>
  </div>
    <!--End top bar -->


  <!-- page content -->
  <%= yield %>
  <!--End page content -->

  <!--footer navigation begins-->

  <nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div>
      <ul class="nav navbar-nav">
        <li><a href="#" onclick="history.back();"><i class="push fa fa-angle-double-left"></i></a></li>
        <li><a href="itineraries#index"><i class="push fa fa-home"></i></a></li>
        <li><a href="/useritineraries"><i class="push fa fa-user"></i></a></li>
      </ul>
    </div>
  </nav>





<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
</div>
</body>
</html>
